.container{
	width:100%;
	text-align:center;
}
.content-container {
	width: 100%;
	text-align: center
}
.content-container .content{
	width: 80%;
    left: 10%;
    position: relative;
	text-align: center;
}
.messages-container{
	width: 100%;
	text-align:center;
}
.messages-container .messages{
	width: 80%;
    left: 10%;
    position: relative;
    text-align: center;
}
.ui-widget {
   font-size: 12px !important;
}
.ui-panelgrid{
	border:  none !important;
}
.ui-panelgrid tr{
	border:  none !important;
}
.ui-panelgrid tr td{
	border:  none !important;
}

.ui-widget-content {
    border: 2px solid #a6c9e2;
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    color: #222222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
}

