.container{
	width:100%;
	text-align:center;
}
.content-container {
	width: 100%;
	text-align: center
}
.content-container .content{
	width: 90%;
    left: 5%;
    position: relative;
	text-align: center;
}
.messages-container{
	width: 100%;
	text-align:center;
	margin-top:2% !important;
}
.messages-container .messages{
	width: 90%;
    left: 5%;
    position: relative;
    text-align: center;
}
.ui-widget {
   font-size: 14px !important;
}
.ui-panelgrid{
	border:  none !important;
}
.ui-panelgrid tr{
	border:  none !important;
}
.ui-panelgrid tr td{
	border:  none !important;
}
fieldset{
	margin-top: 10% !important;
}
.ui-fieldset-content {
	padding: 2% !important;
}
.ui-fieldset-content {
	margin-bottom: 3%;
}
.ui-widget-content {
	border: 1px solid #ddd !important;
	border-top: 4px solid #494747 !important;
    background: url(https://media.mongodb.org/code-block-bg.png) #f5f6f7;
    font-weight: normal;
    color: #333;
}
.ui-widget-header{
	border: 1px solid #ddd !important;
    background: #f5f6f7 !important;    
    font-weight: normal;
    color: #333;
}
.ui-picklist-list {
	background: #ffffff !important;
}
.ui-datatable-selectable, .ui-widget-content .ui-datatable-even, .ui-datatable-data .ui-widget-content, .ui-datatable tbody.ui-datatable-data{
	border-top: 0px solid #ddd !important;
}
.ui-paginator .ui-paginator-top .ui-widget-header .ui-corner-top{
	background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
.logintable{
	padding: 5% !important;
}

tr.logintr>td {
  padding-bottom: 1em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
 input[type="submit"]{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;    
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
 }
  input[type="text"],   input[type="password"] {
    	border: 1px solid #eee;
  	border-style: outset; 
  }
  